*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/log/
/log_*/
*.log
/task_*/
/TASK_LOG/
/.trae/
/app/build/
/temp/
/kb-build/

.vscode/
app/release/
test_model_collaboration_report.md
.kotlin/
